REDIS_HOST=redis_db
REDIS_PORT=6379
REDIS_DB=0
REDIS_FILES_DB=1

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ROOT_NAME=root
MINIO_ROOT_PASS=password

FILES_BUCKET=files
FILES_TOPIC=FILES_TOPIC
FILES_SCHEMA_PATH=./avro_files/files.avsc

BOOTSTRAP_SERVERS=broker:29092
SCHEMA_REGISTRY_URL=http://schema_registry:8085
GROUP_ID=data_lake
ENCODING=utf_8
AVRO_FILES_ENCODING=utf-8

WAIT_BEFORE_START=60