MAX_WORKERS=8

HBASE_HOST=hbase
HBASE_PORT=9090
HBASE_TABLE_NAME=files-bytes-pointers
HBASE_COLUMN_FAMILY_NAME=column-family

MINIO_HOST=minio
MINIO_PORT=9000

FILES_BYTES_BUCKET=files-bytes
FILES_POINTERS_BUCKET=files-pointers
FILES_TOPIC=FILES_TOPIC
FILES_SCHEMA_PATH=./avro_files/files.avsc

BOOTSTRAP_SERVERS=broker:29092
SCHEMA_REGISTRY_URL=http://schema_registry:8085
GROUP_ID=data_lake
ENCODING=utf_8
AVRO_FILES_ENCODING=utf-8

WAIT_BEFORE_START=60