HASH_FUNCTION=SHA1

MAX_SIZE=1024
AVG_SIZE=256
MIN_SIZE=64

CATEGORY_LENGTH=1000
MAX_WORKERS=4

FILES_TOPIC=FILES_TOPIC
FILES_SCHEMA_PATH=./avro_files/files_array.avsc

EXPERIMENTS_DATA_DIR=experiments_data
EXPERIMENT_NAME=test1

BOOTSTRAP_SERVERS=broker:29092
SCHEMA_REGISTRY_URL=http://schema_registry:8085
ENCODING=utf_8
AVRO_FILES_ENCODING=utf-8

WAIT_BEFORE_START=60