REDIS_HOST=redis_db
REDIS_PORT=6379
REDIS_DB=0
REDIS_FILES_DB=1
REDIS_STRUCTURED_DATA_DB=2

POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432
POSTGRES_DB=data
POSTGRES_USER=root
POSTGRES_PASS=password

STRUCTURED_DATA_TOPIC=STRUCTURED_DATA_TOPIC
STRUCTURED_DATA_SCHEMA_PATH=./avro_files/structured_data.avsc

BOOTSTRAP_SERVERS=broker:29092
SCHEMA_REGISTRY_URL=http://schema_registry:8085
GROUP_ID=data_lake
OFFSET=earliest
ENCODING=utf_8
AVRO_FILES_ENCODING=utf-8
SQL_FILES_ENCODING=utf-8