STRUCTURED_DATA_TOPIC=STRUCTURED_DATA_TOPIC
STRUCTURED_DATA_SCHEMA_PATH=./avro_files/structured_data.avsc

BOOTSTRAP_SERVERS=broker:29092
SCHEMA_REGISTRY_URL=http://schema_registry:8085
OFFSET=earliest
ENCODING=utf_8
AVRO_FILES_ENCODING=utf-8
SQL_FILES_ENCODING=utf-8